---
layout: default
title: Schedule of Classes
permalink: /schedule-of-classes/
---

<div id="schedule" class="content">
  {% include schedule-modal.html %}
  {% include blur.html %}
  {% include saved-courses-modal.html %}
  <div class="container blur">
    <h3 class="header">Schedule of Classes <span class="subheader">Spring 2017</span><div class="buttons"><div class="button saved-button">My Saved Courses <span class="saved">0</span></div><a href="{{ site.baseurl }}/register" class="button red">Register Now</div></a></h3>
    <div class="courses">
      <div class="categories">
        <div class="class">
          <span class="subject">Subject</span>
          <span class="code">Code</span>
          <span class="course">Course</span>
          <span class="type">Type</span>
          <span class="sections">Sections</span>
          <span class="level">Level</span>
          <span class="credits">Credits</span>
          <i class="material-icons">keyboard_arrow_down</i>
        </div>
      </div>
      <ul class="accordion">
        {% for course in site.data.schedule %}
        <li class="course-listing">
          <div class="class">
            <span class="subject">{{ course.subject }}</span>
            <span class="code">{{ course.code }}</span>
            <span class="course">{{ course.course }}</span>
            <span class="type">{{ course.type }}</span>
            <span class="sections">{{ course.sections-offered }}</span>
            <span class="level">{{ course.level }}</span>
            <span class="credits">{{ course.credits }}</span>
            <i class="material-icons">keyboard_arrow_down</i>
          </div>
          <div class="detail-container">
            <p class="description">{{ course.description }}</p>
            <p class="reqs">
              <span class="prereqs"><strong>Prerequisites:</strong> {{ course.prereqs }}</span>
              <span class="coreqs"><strong>Corequisites:</strong> {{ course.coreqs }}</span>
            </p>
            <p class="attributes"><strong>Attributes:</strong> {{ course.attributes }}</p>
            <p class="restrictions"><strong>Restrictions:</strong> {{ course.restrictions }}</p>

            <ul class="sections-container">
              <li class="headers">
                <span class="button save"><i class="material-icons">add_circle</i>Save to My Courses</span>
                <span class="section">Section</span>
                <span class="professor">Professor</span>
                <span class="days">Days</span>
                <span class="time">Time</span>
                <span class="location">Location</span>
                <span class="seats">Seats</span>
                <span class="crn">CRN</span>
              </li>
              {% for section in course.sections %}
              <li class="course-section">
                <span class="button save"><i class="material-icons">add_circle</i>Save to My Courses</span>
                <span class="section">{{ section.section }}</span>
                <span class="professor">{{ section.professor }}</span>
                <span class="days">
                  <span class="day {% if section.days == 'M' %}active{% endif %}">M</span>
                  <span class="day {% if section.days == 'T' %}active{% endif %}">T</span>
                  <span class="day {% if section.days == 'W' %}active{% endif %}">W</span>
                  <span class="day {% if section.days == 'R' %}active{% endif %}">R</span>
                  <span class="day {% if section.days == 'F' %}active{% endif %}">F</span>
                </span>
                <span class="time">{{ section.time }}</span>
                <span class="location">{{ section.location }}</span>
                <span class="seats">{{ section.seats }}</span>
                <span class="crn">{{ section.crn }}</span>
              </li>
              {% endfor %}
            </ul>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>