#schedule {
  padding: 30px;
  .modal {
    background: #fff;
    border-radius: 4px;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    border: 1px solid #DFE3E9;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.08);
    z-index: 2;
    &.saved-courses {
      display: none;
    }
    .modal-header {
      text-align: center;
      padding: 20px;
      border-bottom: 1px solid #DFE3E9;
      font-size: 24px;
      font-weight: 500;
      .material-icons {
        float: right;
        cursor: pointer;
        &:hover {
          color: #7F8FA4;
        }
      }
    }
    .modal-body {
      padding: 20px 40px;
      ol {
        padding-left: 15px;
        margin: 10px 0;
        font-weight: 500;
      }
      p {
        color: #7F8FA4;
        margin-bottom: 20px;
      }
      .select-wrapper {
        display: block;
        margin: 20px auto 50px;
        max-width: 300px;
      }
      label {
        color: #7F8FA4;
        font-weight: 500;
      }
      select {
        cursor: pointer;
        font-size: 16px;
        font-family: 'Proxima Nova';
        width: 100%;
        margin: 7px 0;
        background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
        border: 1px solid #CED0DA;
        border-radius: 4px;
        height: 36px;
        option {
          width: 100%;
        }
      }
      .button {
        font-weight: 500;
        margin: 0 auto;
        display: block;
        width: 140px;
        position: absolute;
        bottom: 70px;
        left: 0;
        right: 0;
        background: #EAEEF1;
        border: 1px solid #DFE3E9;
        border-radius: 4px;
        color: #354052;
      }
    }
  }
  .container {
    .header {
      margin: 5px 5px 25px;
      .saved-button {
        transition: all 0.3s ease;
        &.active {
          border: 3px solid #7ed321;
          box-shadow: 0px 0px 15px #7ed321;
        }
        .saved {
          background: #ced0da;
          color: #fff;
          border-radius: 100%;
          width: 20px;
          height: 20px;
          line-height: 20px;
          display: inline-block;
          vertical-align: middle;
          margin-left: 10px;
          &.not-zero {
            background: #7ED321;
          }
        }
      }
    }
    .courses {
      background: #fff;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
      border-radius: 4px;
      width: 100%;
      max-width: 1080px;

      .categories {
        font-weight: 500;
        border-bottom: 1px solid #bfcbdc;
        .class {
          display: flex;
          padding: 10px 30px;
        }
        span {
          display: inline-block;
          color: #5e6a79 !important;
          flex-grow: 1;
        }
        .material-icons {
          opacity: 0;
        }
      }
      ul.accordion {
        li {
          border: 1px solid #f3f3f3;
          border-left: none;
          border-right: none;
          &:hover {
            background: #f3f3f3;
          }
          .material-icons {
            transition: all 0.25s ease;
          }
          .class {
            display: flex;
            padding: 15px 30px;
            cursor: pointer;
            &.active {
              background: #DFE3E9;
              .material-icons {
                transform: rotate(180deg);
              }
            }
          }
          span {
            display: inline-block;
            flex-grow: 1;
            color: #7F8FA4;
          }

          .detail-container {
            display: none;
            margin: 0;
            background: #fff;
            color: #4A4A4A;
            position: relative;
            padding: 20px 30px;
            color: #4A4A4A;

            span {
              color: #4A4A4A;
            }

            .description {
              margin-bottom: 15px;
            }
            .reqs, .attributes, .restrictions {
              margin-bottom: 5px;
              span {
                color: #4A4A4A;
                margin-right: 30px;
              }
            }
            .sections-container {
              margin-top: 20px;
              li {
                border: none;
                display: flex;
                padding: 5px;
                &:hover {
                  background: transparent;
                }
                .button {
                  width: 140px;
                  margin: 0 30px 0 0;
                  padding: 0;
                  font-size: 13px;
                  font-weight: 500;
                  color: #354052;
                  .material-icons {
                    vertical-align: middle;
                    font-size: 20px;
                    margin-right: 5px;
                    margin-top: -2px;
                  }
                }
                &.headers {
                  border-bottom: 1px solid #DFE2E5;
                  span {
                    color: #4A4A4A;
                    font-weight: 500;
                  }
                  .button {
                    opacity: 0;
                  }
                }
                .section, .seats, .crn {
                  width: 70px;
                }
                .professor {
                  width: 100px;
                }
                .days, .time, .location {
                  width: 150px;
                }

                .days {
                  .day {
                    margin: 0 1px;
                    text-align: center;
                    &.active {
                      color: #fff;
                      background: #7F8FA4;
                      font-weight: 500;
                      width: 22px;
                      height: 22px;
                      line-height: 22px;
                      border-radius: 100%;
                      position: relative;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .material-icons {
        color: #7F8FA4;
      }
      .subject, .code {
        width: 50px;
      }
      .course {
        width: 400px;
        color: #354052 !important;
        font-weight: 500;
      }
      .type, .sections {
        width: 70px;
      }
      .level {
        width: 100px;
      }
      .credits {
        width: 10px;
      }
    }
  }
}