#schedule {
  .blur {
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
    -webkit-filter: url(#blur-filter);
    filter: url(#blur-filter);
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }
  .blur-svg {
    display: none;
  }
  .modal {
    background: #fff;
    border-radius: 4px;
    margin: 0 auto;
    width: 500px;
    height: 550px;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    border: 1px solid #DFE3E9;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.08);

    .modal-header {
      text-align: center;
      padding: 20px;
      border-bottom: 1px solid #DFE3E9;
      font-size: 24px;
      font-weight: 500;
    }

    .modal-body {
      padding: 30px 100px;

      .dropdown {
        text-align: left;
        color: #343C3F;
        background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
        border: 1px solid #CED0DA;
        border-radius: 4px;
        color: #354052;
        &.closed {
          .dropdown-menu {
            margin-top: 0px;
            li {
              height: 0px;
            }
          }
          .title {
            border-bottom: none;
            &:after {
              margin-top: -27px;
              -webkit-transform: rotate(0deg);
              -moz-transform: rotate(0deg);
              -ms-transform: rotate(0deg);
              -o-transform: rotate(0deg);
              transform: rotate(0deg);
            }
          }
        }
        .title {
          width: 100%;
          position: relative;
          height: 36px;
          padding: 5px 20px;
          cursor: pointer;
          border-bottom: 1px solid #D9E1E4;
          &:after {
            display: block;
            content: "▾";
            position: absolute;
            right: 14px;
            margin-top: -16px;
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
          }
        }
        .dropdown-menu {
          position: relative;
          overflow: hidden;
          max-height: 200px;
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          transition: all 0.2s;
          -webkit-box-sizing: "border-box";
          -moz-box-sizing: "border-box";
          box-sizing: "border-box";
        }
        ul {
          position: absolute;
          top: 0;
          width: 100%;
          li {
            width: 100%;
            height: 40px;
            line-height: 40px;
            border-bottom: 1px solid #D9E1E4;
            padding: 0 12px;
            vertical-align: top;
            overflow: hidden;
            cursor: pointer;
            -webkit-transition: margin-top 0.5s, height 0.5s;
            -moz-transition: margin-top 0.5s, height 0.5s;
            transition: margin-top 0.5s, height 0.5s;
            &:hover {
              background-color: #D9E1E4;
              color: #343C3F;
            }
          }
        }
      }
    }
  }
}