<div class="modal appt">
  <div class="modal-header">Request an Appointment with <span class="aileen-name">Aileen Yates</span><span class="prajna-name">Prajna Kulkarni</span><i class="material-icons close">close</i></div>
  <div class="modal-body">
    <div class="select-wrapper">
      <label for="">Appointment Type</label>
      <select>
        <option selected>In-Person</option>
        <option>Phone</option>
        <option>Skype (Video Conference)</option>
      </select>
    </div>
    <div class="select-wrapper">
      <label for="">Start Time (Duration 30 mins)</label>
      <select class="start">
        <option selected>Select Time</option>
        <option>2:00 PM</option>
        <option>2:30 PM</option>
        <option>3:00 PM</option>
        <option>3:30 PM</option>
      </select>
    </div>
    <div class="select-wrapper">
      <label for="">Reason For Appointment</label>
      <input type="text" name="">
    </div>
    <div class="select-wrapper">
      <label for="">Phone Number</label>
      <input type="text" name="" class="phone">
    </div>
    <div class="ack">
      <input type="checkbox" name="checkbox-1" id="checkbox-1" class="checkbox" />
      <label for="checkbox-1">I acknowledge that this appointment time is not guaranteed until I receive a confirmation email</label>
    </div>
    <button id="request-appt" class="button red">Submit</button>
  </div>
</div>