<div class="modal saved-courses">
  <div class="modal-header"><i class="material-icons info">info</i>My Saved Courses<i class="material-icons close">close</i></div>
  <div class="modal-body">
    <p class="saved-info">Saving courses is an easy way to keep track of the courses you are interested in registering for. Add the courses you want to register for to My Saved Courses and we will remember those courses for you when your registration time arrives.</p>
    <p class="instructions">Don't see your course below? Go to <a href="{{ site.baseurl }}/schedule-of-classes">Schedule of Classes</a> to add more courses to My Saved Courses for easy registration.</p>
    <div class="type1">
      <h4>Spring 2017</h4>
      <ol>
        <li>ARTG 2250 Typography 1, Fridays @ 8am with Kane<i class="material-icons delete">highlight_off</i></li>
      </ol>
    </div>
    <a href="{{ site.baseurl }}/register" id="view-classes" class="button red">Register Now</a>
  </div>
</div>