<div class="modal saved-courses">
  <div class="modal-header">My Saved Courses<i class="material-icons close">close</i></div>
  <div class="modal-body">
    <p>Saving courses is an easy way to keep track of the courses you are interested in registering for. Add the courses you want to register for to My Saved Courses and we will remember those courses for you when your registration time arrives. No more having to remember the CRNs for your courses!</p>
    <h4>Spring 2017</h4>
    <ol>
      <li>ARTG 2250 Typography 1, Fridays @ 8am with Kane</li>
    </ol>
    <a href="/register" id="view-classes" class="button red">Register Now</a>
  </div>
</div>