<div class="modal prompt">
  <div class="modal-header">Schedule of Classes</div>
  <div class="modal-body">
    <div class="select-wrapper semester">
      <label for="">Select a semester</label>
      <select>
        <option disabled selected>--</option>
        <option>Summer 2 2017</option>
        <option>Summer 1 2017</option>
        <option>Spring 2017</option>
        <option>Fall 2016</option>
        <option>Spring 2015</option>
      </select>
    </div>
    <div class="select-wrapper subject">
      <label for="">Select a subject</label>
      <select>
        <option disabled selected>--</option>
        <option>Accounting - ACCT</option>
        <option>Anthropology - ANTH</option>
        <option>Architecture - ARCH</option>
        <option>Army ROTC - ARMY</option>
        <option>Art - Design - ARTG</option>
        <option>Art - Fundamentals - ARTF</option>
      </select>
    </div>
    <button id="view-classes" class="button" disabled>View Classes</button>
  </div>
</div>