@import "partials/fonts";
@import "partials/login";
@import "partials/frame";
@import "partials/dashboard";
@import "partials/academics";
@import "partials/resources";
@import "partials/career";
@import "partials/finances";
@import "partials/audit";
@import "partials/schedule";
@import "partials/register";
@import "partials/apptCal";

*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  // background: $midpointBlue;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Proxima Nova';
  font-weight: 400;
  background-color: #E7E7E7;
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

input, button {
  border-radius: 4px;
  font-family: 'Proxima Nova';
  font-weight: 500;
  font-size: 16px;
}

input {
  height: 45px;
  width: 300px;
  border: 1px solid #CED0DA;
  padding: 10px;
}

.content-container {
  position: relative;
  overflow: hidden;
  top: 60px;
  left: 150px;
  width: calc(100% - 150px);
  height: calc(100% - 70px);
  .content {
    position: absolute;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    padding: 10px;
    .panel {
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
      background: #fff;
      color: #000;
      width: 400px;
      height: 300px;
      padding: 25px 30px;
      margin: 5px;
      .panel-link {
        color: #A20013;
        font-weight: 500;
        cursor: pointer;
        margin: 10px 0;
        display: block;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .header {
      font-size: 24px;
      font-weight: 500;
      margin: 5px 0 15px;
      .subheader {
        color: #9B9B9B;
        margin-left: 10px;
      }
      .buttons {
        display: inline-block;
        position: relative;
        float: right;
        top: -7px;
        right: -7px;
        font-size: 14px;
      }
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
    thead {
      tr {
        &:last-of-type {
          border-bottom: 1px solid #DFE2E5;
        }
      }
    }
    tr {
      border-bottom: 1px solid #DFE2E5;
      height: 45px;
      &:last-of-type {
        border: none;
      }
      td {
        padding: 8px 0;
        white-space: nowrap;
      }
    }
  }
}

.button {
  background: #ccc;
  color: #354052;
  padding: 7px 20px;
  margin: 0 5px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
  border: 1px solid #CED0DA;
  border-radius: 4px;
  &:hover {
    opacity: 0.8;
  }
  &.red {
    background-image: linear-gradient(-180deg, #F95359 3%, #DD151C 98%) !important;
    border: 1px solid #DB161E !important;
    color: #fff !important;
  }
  &.black {
    background-image: linear-gradient(-180deg, #516173 3%, #3A4857 98%) !important;
    border: 1px solid #3B4858 !important;
    color: #fff !important;
  }
}

.flex {
  display: flex;
  width: auto;
  justify-content: space-between;
  &.start {
    justify-content: flex-start;
  }
  &.end {
    justify-content: flex-end;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  padding: 0;
  margin: 0;
}

.status {
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  text-align: center;
  padding-top: 3px;
  display: inline-block;
  &.green {
    background: #7ED321;
  }
  &.red {
    background: #D0011B
  }
}

.blur {
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
  -webkit-filter: url(#blur-filter);
  filter: url(#blur-filter);
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
.blur-svg {
  display: none;
}

p {
  margin: 0 0 10px;
}

.success-modal {
  background: #fff;
  border-radius: 4px;
  margin: 0 auto;
  width: 300px;
  height: 250px;
  padding: 35px;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  border: 1px solid #DFE3E9;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.08);
  z-index: 2;
  text-align: center;
  font-weight: 500;
  display: none;
  .status {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    .material-icons {
      font-size: 72px;
      margin-top: 10px;
    }
  }
  p {
    line-height: 18px;
  }
}

.select-wrapper {
  display: block;
  margin: 20px auto 50px;
  max-width: 300px;
}
label {
  color: #7F8FA4;
  font-weight: 500;
}
select {
  cursor: pointer;
  font-size: 16px;
  font-family: 'Proxima Nova';
  width: 100%;
  margin: 7px 0;
  background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
  border: 1px solid #CED0DA;
  border-radius: 4px;
  height: 36px;
  option {
    width: 100%;
  }
}

.modal {
  background: #fff;
  border-radius: 4px;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  border: 1px solid #DFE3E9;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.08);
  z-index: 2;
  &.saved-courses {
    display: none;
  }
  .modal-header {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #DFE3E9;
    font-size: 24px;
    font-weight: 500;
    .material-icons {
      float: right;
      cursor: pointer;
      &:hover {
        color: #7F8FA4;
      }
    }
  }
  .modal-body {
    padding: 20px 40px;
    h4 {
      color: #354052;
      margin-bottom: 10px;
      color: #7F8FA4;
    }
    ol {
      padding-left: 15px;
      margin: 10px 0;
      font-weight: 500;
      color: #354052;
    }
    p {
      margin-bottom: 20px;
      font-size: 15px;
      line-height: 20px;
    }
    .delete {
      float: right;
      cursor: pointer;
      color: #354052;
      &:hover {
        color: #A20013;
      }
    }
    .button {
      font-weight: 500;
      margin: 0 auto;
      display: block;
      width: 140px;
      position: absolute;
      bottom: 40px;
      left: 0;
      right: 0;
      background: #EAEEF1;
      border: 1px solid #DFE3E9;
      border-radius: 4px;
      color: #354052;
    }
  }
}

.color {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #ccc;
  margin-right: 5px;
  margin-top: -3px;
  &.pink {
    background: #E64C66;
  }
  &.yellow {
    background: #FFAB00;
  }
  &.blue {
    background: #00BFDD;
  }
  &.purple {
    background: #7874CF;
  }
}