<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>

  <div class="frame">
    <div class="top-bar">
      <a href="dashboard.html" class="nav-brand">myNEU</a>
      <input type="text" name="" placeholder="Search">
      <div class="icons">
        <i class="material-icons">notifications</i>
        <i class="material-icons">email</i>
      </div>
      <div class="dropdown">
        <img class="avatar" src="http://nuwit.ccs.neu.edu/img/officers/brittany2.jpg" alt="">
        <div class="Name">Brittany Chiang</div>
        <i class="material-icons">expand_more</i>
      </div>
    </div>
    <div class="side-bar">

      <div class="link-container">
        <div class="highlight {% if page.title == "Dashboard" %}active{% endif %}"></div>
        <div class="link">
          <i class="material-icons">dashboard</i>
          <div class="caption">Dashboard</div>
        </div>
      </div>
      <div class="link-container">
        <div class="highlight {% if page.title == "Academics" %}active{% endif %}"></div>
        <div class="link">
          <i class="material-icons">school</i>
          <div class="caption">Academics</div>
        </div>
      </div>
      <div class="link-container">
        <div class="highlight {% if page.title == "Resources" %}active{% endif %}"></div>
        <div class="link">
          <i class="material-icons">dashboard</i>
          <div class="caption">Resources</div>
        </div>
      </div>
      <div class="link-container">
        <div class="highlight {% if page.title == "Career Services" %}active{% endif %}"></div>
        <div class="link">
          <i class="material-icons">business_center</i>
          <div class="caption">Career Services</div>
        </div>
      </div>
      <div class="link-container">
        <div class="highlight {% if page.title == "Finances" %}active{% endif %}"></div>
        <div class="link">
          <i class="material-icons">monetization_on</i>
          <div class="caption">Finances</div>
        </div>
      </div>
    </div>
    {{ content }}
  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

</body>
</html>
