<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>

  <div class="frame">

    <div class="top-bar">
      <a href="dashboard.html" class="nav-brand">myNEU</a>
      <div class="search">
        <i class="material-icons">search</i>
        <input type="text" name="" placeholder="Search">
      </div>
      <div class="icons">
        <i class="material-icons">notifications</i>
        <i class="material-icons">email</i>
      </div>
      <div class="dropdown">
        <img class="avatar" src="{{site.avatar}}" alt="">
        <div class="Name">{{ site.fullname }}</div>
        <i class="material-icons">expand_more</i>
      </div>
      <div class="dropdown-options">
        <div class="option"><i class="material-icons">account_circle</i>My Profile</div>
        <div class="option"><i class="material-icons">settings</i>Manage Settings</div>
        <div class="option"><i class="material-icons">power_settings_new</i>Logout</div>
      </div>
    </div>

    <div class="side-bar">
      <a href="/dashboard" class="link-container">
        <div class="highlight {% if page.title == "Dashboard" %}active{% endif %}"></div>
        <div class="link">
          <i class="material-icons">dashboard</i>
          <div class="caption">Dashboard</div>
        </div>
      </a>
      <a href="/academics" class="link-container">
        <div class="highlight {% if page.title == "Academics" or page.title == "Degree Audit" or page.title == "Schedule of Classes" %}active{% endif %}"></div>
        <div class="link">
          <i class="material-icons">school</i>
          <div class="caption">Academics</div>
        </div>
      </a>
      <a href="/resources" class="link-container">
        <div class="highlight {% if page.title == "Resources" %}active{% endif %}"></div>
        <div class="link">
          <i class="material-icons">collections_bookmark</i>
          <div class="caption">Resources</div>
        </div>
      </a>
      <a href="/career-services" class="link-container">
        <div class="highlight {% if page.title == "Career Services" %}active{% endif %}"></div>
        <div class="link">
          <i class="material-icons">business_center</i>
          <div class="caption">Career Services</div>
        </div>
      </a>
      <a href="/finances" class="link-container">
        <div class="highlight {% if page.title == "Finances" %}active{% endif %}"></div>
        <div class="link">
          <i class="material-icons">monetization_on</i>
          <div class="caption">Finances</div>
        </div>
      </a>

    </div>
  </div>

  <div class="content-container">{{ content }}</div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="../js/main.js"></script>

</body>
</html>
